<p id="notice"><%= notice %></p>

<h1>Plataformas Indicadas</h1>

<div class="plataforms">
    <% @plataforms.each do |plataform| %>
     <div class="plataformsBox">
       <img src="<%= image_path(plataform.image)%>" width="120px"/>
       <p class="textPlatafoms"><%=plataform.nome %></p>
     </div>
    <% end %>
</div>

<br>


<%-# link_to 'New Plataform', new_plataform_path %>
