<div class="boxInicio">
  <div></div>
  <p class="textoHome">
    Grupê dê posérs qualificaduó que achám que entendiem cineman e não acharram un sistemam eficienté para dar suas opiniês qualificadês.
  </p>
</div>
<% if !current_user %>
<div class="bottom">
      <%= link_to "Cadastre-se", signup_path %> ou
      <%= link_to "Entre", login_path %>
</div>
<% end %>